@font-face {
  font-family: 'Manrope';
  font-weight: 300; /* Light */
  src: url('./assets/fonts/Manrope-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500; /* Medium */
  src: url('./assets/fonts/Manrope-Medium.ttf') format('truetype');
}

/* Убедитесь, что пути к шрифтам корректны! */
:root {
  --font-family-manrope: 'Manrope', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-0-57-42: rgb(27, 31, 30);
  --text-rgb-136-136-136: rgba(136, 136, 136, 1);
  --text-rgb-174-174-174: rgba(174, 174, 174, 1);
}
